
body {
    font-family: 'Raleway', sans-serif;
    margin: 0px 0px;
    padding: 0px;
    overflow-x: hidden;
}

/* ====== NAVBAR CSS ====== */

/* ====== NAVBAR NESTING
.nav
==.logo
====.nav-link
====.dropdown
=======.dropdown-content
===========.nav-drop
===.icons
======.icons-form
======.cart-icon

*/
header {
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    margin: auto;
    /*outline: 2px solid green;*/
    font-size: 18px;
    font-weight: 700;
    padding: 12px;
    
}
.logo {
    /*outline: 2px solid yellow;*/
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

.nav {
    /*outline: 2px solid red;*/
    display: flex;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
    gap: 3rem;
    padding: 12px;
    align-items: center;
}
.nav-link {
    cursor: pointer;
}

.icons {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}
.icons-form {
    display: flex;
    align-items: center;
    gap: 2px;
}
.search-button{
    cursor: pointer;
    color: #fff;
    background: #000;
    font-weight: 400;
    font-size: 12px;
    padding: 6px 10px;
    border-radius: 5px;
    border: none;
}
.cart{
    display: flex;
    position: relative;
    /*outline: 2px solid red;*/
    justify-content: space-around;
    padding: 10px;
    cursor: pointer;
}

.cart-counter{
    position: absolute;
    /*outline: 1px dotted blue;*/
    background: #000;
    color: #fff;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: -2px;
}
.cart-items {
    display: none;
   
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart:hover .cart-items {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 2.0rem;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: max-content;
    max-width: 30vw;
    font-weight: 400;
    font-size: small;  
    z-index: 1;
}


.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    max-width: 80vw;
    width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin: auto;
    left: 0;
    right: 0;
    gap: 4rem;
    z-index: 1; 
    justify-content: center;
}
.dropdown:hover .dropdown-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 12px;
}
.nav-drop {
    display: flex;
    flex-direction: column;
    gap: 10px;
    outline: 2px solid red;
}

.child_categories {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    gap: 8px;
}

.child_category {
    cursor: pointer;
    font-size: smaller;
}

/*================ HOME PAGE SECTION  ===============*/
.body-element {
    max-width: 100vw;
    /*outline: 2px solid;*/
    left: 0;
    right: 0;
    margin: auto;
    padding: 12px;
}

.body-section {
    margin: 10px 10%;
    padding: 10px;
    /*outline: 2px solid;*/
}

/* ===== SLIDESHOW =====*/

.slideshow {
    width: 100%;
    /*outline: 2px solid red;*/
    height: 80vh;
    overflow: hidden;
    width: 100vw;

}
.slideshow-container {
    position: relative;
    height: 100%; /* set the height of your slideshow container */
    width: 100%; /* set the width of your slideshow container */
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    height: 100%;
    width: 100%;
  }

  .slide img {
    object-fit: cover;
    width: 100%;
  }

  .slide-text {
    /*outline: 2px solid maroon;*/
    width: 80%;
    min-height: 200px;
    left: 0;
    right: 0;
    margin: auto;
    height: 100px;
    top: 50%;
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    color: #000;
    text-align: center;
    padding: 12px;
  }

  .slide-text h2 {
    font-size: 36px;
    font-weight: 500;
  }
.slide-button {
    border: none;
    border-radius: 5px;
    background: #060606;
    color: #fff;
    padding: 5px 15px;
}
  
  .slide.active {
    opacity: 1;
  }
  
  /* set the time interval between slide changes */
  @keyframes slideshow {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .slide:nth-child(1) {
    animation: slideshow 12s infinite;
  }
  
  .slide:nth-child(2) {
    animation: slideshow 12s infinite 3s;
  }
  
  .slide:nth-child(3) {
    animation: slideshow 12s infinite 6s;
  }

/*======= END OF SLIDESHOW =====*/

/*======== FEATURED PRODUCTS SECTION ====*/
  .featured-products {
    /*outline: 2px solid red;*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: none;
    gap: 1rem;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 8px 0;
  }

  .featured-products img {
    object-fit: contain;
    width: 100%;
  }

  .product-container {
     /*outline: 2px solid green;*/
     max-width: 300px;
     overflow-x: hidden;
     align-items: center;
     padding: 10px 14px;
     
  }



/*======== END OF FEATURED PRODUCTS SECTION ====*/


/*======== POPULAR PRODUCTS SECTION =====*/
.popular-products {
    /*outline: 2px solid green;*/
    width: 100%;
}

/*======== END OF POPULAR PRODUCTS SECTION =====*/


.contact-us-banner {
    /*outline: 2px solid blue;*/
    width: 100%;
    height: 300px;
    text-align: center;
    overflow: hidden;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    background: url("https://cdn11.bigcommerce.com/s-u1vaaqdywl/images/stencil/original/image-manager/amy-shamblen-f52i5btduhy-unsplash.jpg?t=1679080965");
}


.contact-us-text {
    padding: 10px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    /*outline: 2px solid red;*/
    background: rgba(255, 255, 255, 0.8);
}

/*====== END OF CONTACT US BANNER SECTION =====*/


/*================ END OF HOMEPAGE SECTION =========*/

footer {
    padding: 10px 100px;
    font-size: 12px;
    /*outline: 2px solid green;*/
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
}

footer a {
    /*outline: 2px solid red;*/
    color: gray;
    text-decoration: none;
}

.navigate {
    display: flex;
    flex-direction: column;

}

.categories {
    display: flex;
    flex-direction: column;

}

.popular-brands {
    display: flex;
    flex-direction: column;

}

.info {
    display: flex;
    flex-direction: column;

}
.subscribe {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.subscribe input {
    border: 1px solid;
    border-radius: 5px;
}



/*================= MEDIUM SCREEN MEDIA QUERIES =========*/

@media only screen and (max-width: 1024px) {
    body {
        /*outline: 2px solid red;*/
        margin: 0px;
    }
    header {
        font-size: 12px;
        padding: 0;
    }
    .nav {
        display: flex;
        gap:1.22rem;
        flex-wrap: wrap;
    }
    .cart:hover .cart-items {
        /*outline: 2px solid blue;*/
        max-width: 60vw;
        margin-right: 100%;
        margin-left: -250px;
    }
    /*========== HOMEPAGE SECTION =======*/
        .body-element {
            padding: 10px;
        }
        .body-section {
            margin: 0 0;
        }
        .slideshow {
            height: 50vh;
        }
        /*featured products */
        .product-container {
            width: 200px;
        }
    /*========== EEND OF HOMEPAGE SECTION =====*/
         footer {
            padding: 10px 20px;
         }
  }

/*================= SMALL SCREEN MEDIA QUERIES =========*/

@media only screen and (max-width: 600px) {
    body {
        overflow-y: scroll;
        /*outline: 2px solid green;*/
    }

    .logo img {
        /*outline: 2px solid red;*/
    }


    .cart:hover .cart-items {
        /*outline: 2px solid blue;*/
        max-width: 80vw;
        margin-right: 100%;
        margin-left: -150px;
        margin-top: 70px;
    }

    .dropdown-content {
        margin-top: 100px;
        position: absolute;
    }
     /*========== HOMEPAGE SECTION =======*/
     .body-element {
        padding: 5px;
    }
    .slideshow {
        height: 45vh;
    }
    
    .slide img {
        object-fit: cover;
        height: 100%;
      }
      .slide-text {
        top: 40%;
        font-size: 12px;
        min-height: 150px;
      }

      .slide-text h2{
        font-size: 23px;
      }

      /*featured products */
      .featured-products {
        font-size: 12px;
      }
      .product-container {
         max-width: 150px;
      }

      .subscribe {
        text-align: center;
        }
      

/*========== EEND OF HOMEPAGE SECTION =====*/
}
    
  

